<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="author" content="Zachary Dudley Friedman">
  <title>Zachary D Friedman</title>

  <link rel="stylesheet" href="/new-style.css">
</head>

<body>
  <div class="pageBox">
    <div id="sideMenu">
      <div id="sideMenu-name">
          <p>
              ZACHARY<br>
              <span>D</span><br> FRIEDMAN
          </p>
      </div>

      <div id="sideMenu-nav">
        <a class="active" href="#">HOME</a>
        <a href="#">PORTFOLIO</a>
        <a href="#">RE&#769SUME&#769</a>
        <a href="#">CONTACT</a>
      </div>
    </div>

    <div id="mainBody">

    </div>

    <!-- <div id="backgroundPicture">
      <img src="/images/LinePortrait.png">
    </div> -->
  </div>

  <!-- <footer>
    <img src="/images/SignatureCopy.png" alt="Zachary Dudley Friedman" width="128x">
    <p>&copy; 2017 Zachary Dudley Friedman</p>
  </footer> -->

</body>

</html>
