<!DOCTYPE html>
<html lang="en">

<head>

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css">

</head>

<body>
  <div class="container">
    <nav class="navbar navbar-expand-sm">
      <a class="navbar-brand" href="#">ZDF</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
        aria-expanded="false" aria-label="Toggle Nav">
          <span class="navbar-toggler-icon"></span>
        </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link">HOME</a>
          </li>
          <li class="nav-item">
            <a class="nav-link">PORTFOLIO</a>
          </li>
          <li class="nav-item">
            <a class="nav-link">RESUME</a>
          </li>
          <li class="nav-item">
            <a class="nav-link">CONTACT</a>
          </li>
        </ul>
      </div>
    </nav>

    <!-- <nav class="nav flex-column">
        <a class="nav-link" href="#">LINK</a>
        <a class="nav-link" href="#">LINK</a>
        <a class="nav-link" href="#">LINK</a>
        <a class="nav-link" href="#">LINK</a>
      </nav> -->
  </div>

  <div class="container" id="mainArea">

  </div>

  <footer>
    <img src="/images/SignatureCopy.png" alt="Zachary Dudley Friedman" width="128x">
    <p>&copy; 2017 Zachary Dudley Friedman</p>
  </footer>


  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js"></script>
</body>

</html>
