<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Behold the Man">
    <meta name="keywords" content="Friedman, Zach Friedman, Zachary Friedman, Zachary Dudley, Zachary D Friedman, Zachary Dudley Friedman, dev, developer, design, designer, game design, game designer, game dev, game developer, web design, web dev, web developer">
    <meta name="author" content="Zachary Dudley Friedman">

    <title>Zachary D Friedman</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css">
    <link rel="stylesheet" href="/style.css">

</head>

<body>
    <div class="row">

        <!-- SIDEBAR MENU -->
        <div class="col-2 verticalMenu">
            <!-- ICON & NAME -->
            <div class="name">
                <p>
                    ZACHARY<br>
                    <span>D</span><br> FRIEDMAN
                </p>
            </div>
            <!-- END NAME -->

            <ul>
                <li><a href="#" class="active">home</a></li>
                <li><a href="#">portfolio</a></li>
                <li><a href="#">re&#769sume&#769</a></li>
                <li><a href="#">contact</a></li>
            </ul>
        </div>
        <!-- END SIDEBAR -->

        <div class="col-9">
            <div id="aboutMe">
                <h1>ME</h1>
                <p>I'm a person</p>
                <h3>VISIONARY</h3>
                <p>I have thoughts.</p>
                <h3>FIRST FOLLOWER</h3>
                <p>Team member</p>
            </div>
        </div>

    </div>

    <!-- COPYRIGHT & LEGAL -->
    <footer>
        <img src="/images/SignatureCopy.png" alt="Zachary Dudley Friedman" width="128x">
        <p>&copy; 2017 Zachary Dudley Friedman</p>
    </footer>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js"></script>
</body>

</html>
