/* GRID-VIEW */
*{
  box-sizing: border-box;
}

/* .row::after{
  content: "";
  clear: both;
  display: table;
} */

[class*="col-"]{
  float: left;
  padding: 15px;
}

/* .col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 88.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;} */

body {
  background-image: url("/images/Line Portrait.png");
  background-repeat: no-repeat;
  background-position: 32em, 0em;
  background-attachment: fixed;
  background-size: cover;
}

/* NAME */
.name p{
  text-align: left;
  font-size: 3em;
  line-height: 1;
}

.name{
  cursor: pointer;
  transition: all 0.5s;
}

.name span{
  cursor: pointer;
  transition: 0.5s;
  position: relative;
}

.name span:after{
  content: 'UDLEY';
  transition: 0.5s;
  position: absolute;
  opacity: 0;
}

.name:hover span{
  /*padding-left: 20px;*/
}

.name:hover span:after{
  /*padding-left: 0;*/
  opacity: 1;
}

/* MENU */

/*.verticalMenu{
  width: 200px;
}*/

.verticalMenu a{
  background-color: #eee;
  color: black;
  display: block;
  padding: 15px;
  text-decoration: none;
  text-align: right;
}

.verticalMenu a:hover{
  color: #ccc;
}

.verticalMenu a.active{
  color: #ff8833;
  text-transform: uppercase;
}

/* FOOTER */
footer{
  padding: 20px;
  text-align: center;
}

/* RESUME */
.section h1{
  color: #ff8833;
}

.section h2{
  color: #ff8833;
}

.section h3{
  text-indent: 25px;
}

.section p{
  text-indent: 70px;
}
